.app-dark-mode-container, .app-light-mode-container {
  width: 100%;
  height: 100vh;
}

.app-dark-mode-container {
  background-color: #363636;
  color: white;
}

.app-light-mode-container {
  background-color: white;
  color: black;
}