.projects {
  background: #0b0b0b;
  color: var(--text-light);
  padding: 6rem 2rem;
  border-bottom: 4px solid #22d3ee;
}

.projects-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.section-title span {
  color: var(--accent);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  background: #121212;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  padding: 2rem;
  transition: all 0.3s ease;
  border: 1px solid white;
}

.project-card:hover {
  border: 1px solid var(--accent);
  box-shadow: 0 0 25px rgba(34, 211, 238, 0.25);
}

.card-content h3 {
  font-size: 1.4rem;
  color: var(--accent);
  margin-bottom: 1rem;
}

.card-content p {
  color: #bbb;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.tech-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin-bottom: 1.5rem;
  padding: 0;
}

.tech-list li {
  background: rgba(34, 211, 238, 0.1);
  border: 1px solid var(--accent);
  border-radius: 30px;
  padding: 0.4rem 0.9rem;
  font-size: 0.85rem;
  color: var(--accent);
}

.btn-project {
  background: var(--accent);
  color: #000;
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-project:hover {
  background: #00ffff;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
  transform: translateY(-3px);
}
.logs {
  margin-top: 1rem;
  padding: 0.8rem 0.5rem;
  border-left: 2px solid #00bcd4;
  border-right: 2px solid #00bcd4;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: rgba(0, 188, 212, 0.05);
}

.logs h4 {
  color: #00bcd4;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.log-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.log-card {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  perspective: 800px;
}

.log-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.log-card:hover .log-card-inner {
  transform: rotateY(180deg);
}

.log-card-front,
.log-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  box-shadow: 0 3px 10px rgba(0, 188, 212, 0.25);
}

.log-card-front {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #00bcd4;
}

.log-card-back {
  background:  #2da087;
  color: #242f49;
  transform: rotateY(180deg);
}

.log-card-back strong {
  color: #004d61;
}
